### 파이썬의 기본 문법
- 변수 선언, 식별자, 자료형, 형변환, 연산자 학습

### 1. 주석(comment)과 출력(print)

In [3]:
# 주석 : 앞에 #을 부티면 코드로 실행이 안됩니다.
# 코드에 대한 설명이나 중간에 코드를 실행시키고 싶지 않을 때 사용
# 단축키 : ctrl(cmd) + /
# 블럭설정 : shift + 방향키 

# 1,2,3을 출력하는 코드
print(1)
# print(2)
print(3)

1
3

In [4]:
# 출력 : print 함수
# 코드 중간에 변수에 들어있는 값을 확인하고 싶을 때 사용

In [5]:
a = 1
b = 2
print(b)
c = 3
b = 4
print(b)

2
4

In [7]:
# print 함수의 옵션
# docstring: 함수에 대한 설명 : 단축키(shift + tab)
# 자동완성 : tab
print(1,2, sep="-", end="\t")
print(3)

1-2	3

In [8]:
python_data_science = 1

In [9]:
python_data_science

1

### 2. 변수 선언
- RAM 저장공간에 값을 할당하는 행위

In [13]:
a = 1
b = 2
c = a + b
c

3

In [14]:
d, e = 3, 4

In [15]:
f = g = 5

In [16]:
f, g

(5, 5)

### 3. 식별자
- 변수, 함수, 클래스, 모듈 등의 이름을 식별자라고 합니다.
- 식별자 규칙
    - 소문자, 대문자, 숫자, 언더스코어(_) 를 사용합니다. 
    - 가장 앞에 숫자 사용 불가
    - 예약어의 사용 불가 : def, class, try, except ...
    - 컨벤션(합성어를 식별자로 사용할 때)
        - snake case : fast_campus : 변수, 함수 
        - camel case : FastCampus, fastCampus : 클래스

### 4. 데이터 타입
- RAM 저장공간을 효율적으로 사용하기 위해서 저장공간의 타입을 설정
- 동적타이핑
    - 변수 선언시 저장되는 값에 따라서 자동으로 데이터 타입이 설정
- 기본 데이터 타입 : int, float, bool, str
- 컬렉션 데이터 타입 : list, tuple, dict

In [17]:
a = 1
b = "python"
type(a), type(b)

(int, str)

In [18]:
# 기본 데이터 타입 : int, float, bool, str
a = 1
b = 1.2
c = True # False
d = "data"
type(a), type(b), type(c), type(d)

(int, float, bool, str)

In [19]:
a + b

2.2

In [21]:
a + c

2

In [29]:
# 데이터 타입에 함수 : 문자열
d.upper()

'DATA'

In [31]:
f = " Fast campus "

In [32]:
# lower : 소문자로 변환
f.lower()

' fast campus '

In [33]:
# strip : 앞뒤 공백 제거
f.strip()

'Fast campus'

In [36]:
# replace : 특정 문자열 치환
f.replace("Fast", "Slow")

' Slow campus '

In [37]:
dir(f)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [38]:
# 오프셋 인덱스
# 문자열은 순서가 있는 문자들의 집합

In [39]:
g = "abcdefg"

In [45]:
g[2], g[-2], g[2:5], g[:2], g[3:], g[-2:], g[::2], g[::-1]

('c', 'f', 'cde', 'ab', 'defg', 'fg', 'aceg', 'gfedcba')

In [57]:
numbers = "123456789" # 97531
numbers[::-2]

'97531'

### 컬렉션 데이터 타입 : list, tuple, dict
- list [] : 순서가 있는 수정이 가능한 데이터 타입
- tuple () : 순서가 있는 수정이 불가능한 데이터 타입
- dict {} : 순서가 없고 키:값 으로 구성되어있는 데이터 타입

In [59]:
# list
ls = [1,2,3,"four", [5,6], True, 1.2]
type(ls), ls

(list, [1, 2, 3, 'four', [5, 6], True, 1.2])

In [63]:
# offset index 사용이 가능 
ls[3], ls[1:3], ls[::-1]

('four', [2, 3], [1.2, True, [5, 6], 'four', 3, 2, 1])

In [64]:
# list 함수
ls = [1, 5, 2, 4]

In [66]:
# append : 가장 뒤에 값을 추가
ls.append(3)
ls

[1, 5, 2, 4, 3, 3]

In [69]:
# sort : 오름차순으로 정렬
ls.sort()
ls[::-1]

[5, 4, 3, 3, 2, 1]

In [71]:
# pop : 가장 마지막 데이터를 출력하고 출력한 데이터를 삭제
# ctrl + enter : 현재 셀을 계속 실행
num = ls.pop()
num, ls

(4, [1, 2, 3, 3])

In [72]:
# 리스트 복사 
# 얕은 복사 (주소값 복사)
ls1 = [1,2,3]
ls2 = ls1
ls1, ls2

([1, 2, 3], [1, 2, 3])

In [73]:
ls1[2] = 5

In [74]:
ls1, ls2

([1, 2, 5], [1, 2, 5])

In [75]:
# 깊은 복사 : 값을 다른 공간에 새로 저장
ls3 = ls1.copy()
ls1, ls3

([1, 2, 5], [1, 2, 5])

In [76]:
ls1[2] = 10
ls1, ls3

([1, 2, 10], [1, 2, 5])

In [77]:
# Tuple () : 리스트와 같지만 수정이 불가능한 데이터 타입
# 튜플을 리스트보다 같은 데이터를 가졌을 때 공간을 적게 사용하는 특징이 있다.

In [78]:
tp1 = 1, 2, 3
tp2 = (1, 2, 3)
type(tp1), type(tp2), tp1, tp2

(tuple, tuple, (1, 2, 3), (1, 2, 3))

In [79]:
a, b = 1, 2
a, b

(1, 2)

In [81]:
# offset index 사용
tp1[1], tp1[::-1]

(2, (3, 2, 1))

In [82]:
# 리스트와 튜플의 저장공간 차이 비교
import sys

ls = [1, 2, 3]
tp = (1, 2, 3)

print(sys.getsizeof(ls), sys.getsizeof(tp))

96 80

In [83]:
# dict {} : 순서가 없고 {키:값} 으로 구성되어 있는 데이터 타입

In [86]:
# 선언 : 키는 정수, 문자열 데이터 타입만 사용이 가능 
dic = {
    1: "one",
    1.1: "ㄹㄹ",
    "two": 2,
    "three" : [1,2,3],
}

In [88]:
type(dic), dic

(dict, {1: 'one', 1.1: 'ㄹㄹ', 'two': 2, 'three': [1, 2, 3]})

In [89]:
dic[1.1]

'ㄹㄹ'

In [90]:
dic["two"] = 123
dic

{1: 'one', 1.1: 'ㄹㄹ', 'two': 123, 'three': [1, 2, 3]}

In [91]:
# 아래의 데이터를 list와 dict로 선언
# 도시 : seoul, busan, daegu
# 인구 : 9,700,000, 3,400,000, 2,400,000

In [92]:
city_pop = {"seoul": 970000000, "busan": 340000000, "daegu": 240000000}

In [93]:
city = ["seoul", "busan", "daegu"]
population = [9700000, 3400000, 2400000]

In [94]:
sum(city_pop.values())

1550000000

In [95]:
type(city_pop.values())

dict_values

In [106]:
type(list(city_pop.values()))

list

### 5. 형변환
- 데이터 타입을 변환하는 방법
- int, float, str, list, tuple, dict

In [104]:
a = 1
b = "2"
a + int(b)

3

In [105]:
str(a) + b

'12'

In [109]:
# zip : 같은 인덱스에 있는 데이터들을 묶어주는 함수 
ss = dict(zip(city, population))

In [113]:
data1 = list(ss.keys())
data2 = list(ss.values())
data1, data2

(['seoul', 'busan', 'daegu'], [9700000, 3400000, 2400000])

### 6. 연산자
- 산술연산자 : +, -, *, /, //, %, **
- 할당연산자 : 특정 변수에 누적시켜서 연산 : +=, //=, **= , ... 
- 비교연산자 : >, <, ==, !=, <=, >= : 결과로 True, False
- 논리연산자 : True, False 를 연산 : or, and, not
- 멤버연산자 : 특정 데이터가 있는지 확인할 때 사용 : not in, in

In [1]:
a = 1
b = 2
a+b

3

In [3]:
(1 + 4) / 2 ** 2

1.25

In [5]:
a = 10
a = a + 10
a = a + 10
a += 10
a += 10
a

50

In [6]:
# 비교 연산
print(a, b)
a < b, a == b, a != b

50 2

(False, False, True)

In [8]:
# 논리 연산
True and False, True or False, not True or False

(False, True, False)

In [9]:
# 멤버 연산
ls = ["jin", "andy", "john"]

"andy" in ls, "michel" in ls, "john" not in ls

(True, False, False)

In [19]:
## 랜덤함수
import random

random.randint(1, 10)

2

In [20]:
# 입력함수
data = input("Insert string : ")
data

Insert string : 10

'10'

In [21]:
# 해결의 책 : 질문을 하면 질문에 대한 답변을 해주는 책

In [ ]:
# 솔루션을 리스트로 작성
# 질문 입력 받음
# 솔루션의 갯수에 맞게 랜덤한 index 정수 값을 생성
# index에 해당하는 솔루션 리스트의 데이터를 출력

In [22]:
solutions = [
    "무엇을 하든 잘 안될 것 이다.",
    "생각지도 않게 좋은 일이 생길 것 이다.",
    "무엇을 상상하든 그 이상이다."
]

In [23]:
input("질문을 입력하세요 : ")

idx = random.randint(0, len(solutions) - 1)

print(solutions[idx])

질문을 입력하세요 : 저는 오늘 좋은 결정을 한 것일까요?
무엇을 상상하든 그 이상이다.

### summary
- jupyter notebook
    - mode : 명령모드, 편집모드
    - style : markdown, code
    - 단축키
        - 실행 : shift + enter
        - 자동완성 : tab
        - docstring 보기 : shift + tab
        - 주석설정 : cmd(ctrl) + /
        - 셀 생성 : a(위에), b(아래에)
- python 기본 문법
    - 변수 선언 : RAM 저장공간에 값을 할당하는 행위
    - 식별자 규칙
        - 대문자, 소문자, 숫자, _
        - 가장 앞글자 숫자 사용 불가
        - 예약어 사용이 불가 : def, class, try ...
        - snake_case(변수, 함수), CamelCase(클래스)
        - pep8 문서
    - 데이터 타입
        - 동적타이핑 : 자동으로 저장공간의 데이터 타입이 설정
        - 기본 데이터 타입 : int, float, bool, str
        - 컬렉션 데이터 타입 : list(iterable), tuple(interable), dict
        - iterable : 순서가 있는 데이터의 집합
        - offset index : 특정 위치의 데이터를 출력할 때 사용
            - iterable한 데이터 타입에서만 사용이 가능
            - [] : mask, masking
            - [idx] : idx 위치 데이터를 출력
            - [start:end:stride] : stride만큼씩 점프하여 출력
    - 형변환
        - 이미 변수에 설정된 데이터 타입을 변경하는 행위
        - zip
            - 여러개의 리스트를 같은 인덱스끼리 묶어주는 함수
            - 두개의 리스트를 묶어서 dict로 형변환
    - 연산자
        - 산술 : +, -, *, /, //, %, **
        - 할당 : A (산술)= (data)
        - 비교 : <, >, ==, !=, >=, <=
        - 논리 : and, or, not
        - 멤버 : in, not in

### 1. 조건문
- 특정 조건에 따라서 코드를 실행하고자 할 때 사용
- if, else, elif

In [25]:
# 조건부분에 bool 데이터 타입 이외의 데이터 타입이 오면 bool으로 형변환 되어 판단
if True:
    print("python")
print("done")

python
done

In [26]:
# int : 0을 제외한 나머지 값은 True
bool(0), bool(1), bool(-1), bool(100)

(False, True, True, True)

In [28]:
num = 1
if num:
    print("python")

python

In [29]:
number = 7
if number % 2 == 0:
    print("even")
else:
    print("odd")

odd

In [30]:
# float : 0.0을 제외한 나머지 실수는 True
# str : ""을 제외한 나머지 문자열은 True
# list, tuple, dict : [], (), {}를 제외한 나머지는 True

In [31]:
# 지갑에 돈이 10000원 이상 있으면 택시를 타고 그렇지 않으면 걸어서 집에 갑니다.

In [32]:
money = 12000

if money >= 10000:
    print("택시를 타고 집에 갑니다.")
if money < 10000:
    print("걸어서 집에 갑니다.")

택시를 타고 집에 갑니다.

In [38]:
money = 12000

if money >= 10000:
    print("택시를 타고 집에 갑니다.")
else:
    print("걸어서 집에 갑니다.")

택시를 타고 집에 갑니다.

In [39]:
money = 5000

if money >= 10000:
    print("택시를 타고 집에 갑니다.")
elif money >= 2000 and money < 10000:
    print("버스를 타고 집에 갑니다.")
else:
    print("걸어서 집에 갑니다.")

버스를 타고 집에 갑니다.

In [40]:
# 계좌에 10000원이 들어있습니다.
# 인출 금액을 입력 받습니다.
# 인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능합니다." 출력
# 인출 금액이 계좌에 있는 금액보다 작으면 "인출 되었습니다." 출력
# 마지막에 현재 계좌의 잔액을 출력

In [48]:
account = 10000
out = int(input("Enter output money: "))
if out > account:
    print("인출이 불가능합니다."+str(out - account)+ "원의 잔액이 부족합니다.")
else:
    account -= out
    print(str(out)+"원이 인출 되었습니다.")
print(account)

Enter output money: 100
100원이 인출 되었습니다.
9900

In [50]:
# string 데이터 타입의 format 함수
print("현재 잔액은 {}원 입니다. 인출 금액은 {} 입니다.".format(account, out))

현재 잔액은 9900원 입니다. 인출 금액은 100 입니다.

### 삼항연산자
- 간단한 if, else 구문을 한줄의 코드로 표현할 수 있는 방법
- (True)if(condition) else(False)

In [51]:
# data 변수에 0이면 'zero' 출력, 아니면 'not zero' 출력
data = 0
if data:
    print("Not zero")
else:
    print("zero")

zero

In [52]:
data = 0
result = "not zero" if data else "zero"
result

'zero'

### 2. 반복문
- 반복되는 코드를 실행할 때 사용
- while, for, break, continue
- list comprehension

In [53]:
# while
data = 3
while data: # 조건이 False가 될 때까지 구문의 코드를 실행
    # 반복되는 코드
    print(data)
    data -= 1

3
2
1

In [54]:
# 어떤 학생이 국어:80점, 영어:90점, 수학:100점을 맞았다.
# while 문을 이용해서 총점과 평균을 출력해주세요
# 학생의 점수는 list, dict로 표현해주세요

In [58]:
score = {"국어": 80, "영어": 90, "수학": 100}
score = [{'name':'국어', "score": 80}, {"name":'영어', "score": 90}, {"name":"수학", "score": 100}]
score_len = len(score)
score_sum = 0
score_avg = 0
while score_len:
    score_sum += score[score_len-1]["score"]
    score_len -= 1
    if score_len == 0:
        score_avg = score_sum // len(score)
print(score_sum)
print(score_avg)

270
90

In [59]:
subject_ls = ["korean", "english", "math"]
points_ls = [80, 90, 100]
points_dict = dict(zip(subject_ls, points_ls))
points_dict

{'korean': 80, 'english': 90, 'math': 100}

In [60]:
datas = points_ls.copy() # 깊은 복사 : 원본 데이터를 보존

In [61]:
total, avg = 0, 0

In [62]:
while datas:
    total += datas.pop()
avg = total / len(points_ls)
total, avg

(270, 90.0)

In [65]:
# 무한루프
# break : 반복문을 중단 시킬 때 사용되는 예약어
result = 1
while result:
    if result >= 10:
        break
    result += 1
    
print(result)

10

### for
- iterable한 값을 하나씩 꺼내서 value에 대입시킨 후 코드를 iterable 벼수의 값 개수 만큼 실행
```
for <variable> in <iterable>:
    <code>
```

In [70]:
# for : continue : 조건부분으로 올라가서 코드가 실행
ls = [0, 1, 2, 3, 4]
for data in ls:
    if data % 2:
        continue
    print(data, end=" ")

0 2 4

In [73]:
# for를 이용하여 코드를 100번 실행
# range 함수
list(range(100))
result = 0
for data in range(100):
    result += data
result

4950

In [77]:
# offset index 개념과 비슷하게 사용이 된다. 
list(range(5)), list(range(5, 10)), list(range(10,0,-2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 8, 6, 4, 2])

In [78]:
# 0에서 10까지 짝수를 더한 총합
result = 0
for number in range(0, 11, 2):
    result += number
result

30

In [79]:
for data in points_dict:
    print(data)

korean
english
math

In [85]:
list(points_dict.items())

[('korean', 80), ('english', 90), ('math', 100)]

In [84]:
for k, v in points_dict.items():
    print('{} : {}'.format(k, v))

korean : 80
english : 90
math : 100